.miniPhoto{
    width: 5rem;
    margin: 1rem 0;
}

.buyProcess{
    margin: 1rem auto !important;
    height: 100% !important;
}

.buyProcess select {
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    background-color: white;
}

.selectHeight{
    height: 2.1rem !important;
}

.payChoice{
    display: flex;
    flex-direction: column;
}

.payChoice label{
    display: inline-block;
    margin-bottom: 1.2rem;
}

.payChoice h3{
    font-weight: 500;
    padding: 1rem 0;
}

.buyButton{
    text-decoration: none;
}

.payButtons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.payButtons a{
    text-decoration: none;
    color: white;
    white-space: normal !important;
}

.attmsg{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
}

.payButtons a:nth-of-type(1){
    padding: 1rem;
    background-color: #20d18b !important;
}

.payButtons a:nth-of-type(2){
    padding: 1rem !important;
    background-color: #20b8d1 !important;
}

.payButtons a:nth-of-type(3){
    padding: 1rem !important;
    background-color: #005d64 !important;
}

.payButtons a:nth-of-type(4){
    padding: 1rem !important;
    background-color: #45d75d !important;
}

.payButtons a:nth-of-type(5){
    padding: 1rem !important;
    margin-top: 1.5rem;
    background-color: #3650e2 !important;
}

.payChoice input[type="radio"] {
    vertical-align: middle;
    margin: auto 1rem;
    height: 1rem !important;
    width: 1rem !important;
}

@media screen and (min-width: 600px){

    .miniPhoto{
        width: 5rem;
        margin-top: 0rem;
    }

}