.miniPhoto{
    width: 5rem;
}

.finalOption{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem 0;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.finalOptionBox{
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.finalOptionBox h3,
.finalOptionBox h4{
    margin: 1rem 0;
}

#aliasMSG,
#cvuMSG{
    display: none;
    transition: display .5s;
}

.active{
    display: block !important;
}

.boxPayOpt{
    margin-block: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 768px){

    .finalOptionBox{
        width: fit-content;
        padding: 2rem;
    }
}